$headerBackgroundImage: url(../img/header_background_v1.jpg);
$taskFonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$mainBackgroundColor: #ffffff;
$mainTextColor: #000000;
$navItemColor: #ffffff;
$topHeaderColor: #ffffff;
$btnBackground: #00ACC1;
$articleBackground: #d3cfcf;
$inputBackground: #ffffff;
$textAreaBackground: #ffffff;
$taskFontSize: 15px/24px;


