$headerBackgroundImage: url(../img/header_background_v2.jpg);
$taskFonts: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$mainBackgroundColor: #d3cfcf;
$mainTextColor: #757576;
$navItemColor: #F44336;
$topHeaderColor: #F44336;
$btnBackground: #01579B;
$articleBackground: #ffffff;
$inputBackground: #d3cfcf;
$textAreaBackground: #d3cfcf;
$taskFontSize: 18px/26px;


